<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        html, body {
            height: 100%;
        }
        body {
            background: #75cbe7 url('/images/angle-bg.png') no-repeat scroll center bottom -120px;
        }
        h2 {
            display: inline-block;
            background-color: white;
            padding: 30px 20px 30px 20px;
            box-shadow: black 0px 0px 30px;
        }
    </style>
    <title><%= title %></title>
</head>
<body>
    <h2><%= content %></h2>
</body>
</html>