<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link rel="stylesheet" href="/css/formpage.css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <title>로그인</title>
</head>
<body>
  <div class="wrapper fadeInDown zero-raduis">
    <div id="formContent">
      <!-- Tabs Titles -->

      <!-- Icon -->
      <div class="fadeIn first">
        <!-- <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" /> -->
        <h1 class="my-5">비밀번호 설정</h1>
      </div>

      <!-- Login Form -->
      <form action="/verify/email/<%= email %>/<%= token %>?purpose=password" method="post">
        <input type="password" id="password" class="fadeIn third zero-raduis" name="password" placeholder="password">
        <input type="password" id="again" class="fadeIn third zero-raduis" name="again" placeholder="password again">
        <input type="submit" class="fadeIn fourth zero-raduis" value="변경">
      </form>
    </div>
  </div>
</body>
</html>